<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewEmpleado</servlet-name>
        <servlet-class>controller.NewEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewHistorial1</servlet-name>
        <servlet-class>controller.NewHistorial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatosPerfil</servlet-name>
        <servlet-class>controller.DatosPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarPerfil</servlet-name>
        <servlet-class>controller.ModificarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatosPassword</servlet-name>
        <servlet-class>controller.DatosPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambiarPass</servlet-name>
        <servlet-class>controller.CambiarPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewIncidencia</servlet-name>
        <servlet-class>controller.NewIncidencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewIncidencia2</servlet-name>
        <servlet-class>controller.NewIncidencia2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarEmpleado</servlet-name>
        <servlet-class>controller.EliminarEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarEmpleado2</servlet-name>
        <servlet-class>controller.EliminarEmpleado2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TodasIncidencias</servlet-name>
        <servlet-class>controller.TodasIncidencias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLastLogin</servlet-name>
        <servlet-class>controller.GetLastLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLastLogin2</servlet-name>
        <servlet-class>controller.GetLastLogin2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetIncidenciaById</servlet-name>
        <servlet-class>controller.GetIncidenciaById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetIncidenciaByEmpleado</servlet-name>
        <servlet-class>controller.GetIncidenciaByEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetIncidenciaByEmpleado2</servlet-name>
        <servlet-class>controller.GetIncidenciaByEmpleado2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetIncidenciaOrderByFechaHora</servlet-name>
        <servlet-class>controller.GetIncidenciaOrderByFechaHora</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewEmpleado</servlet-name>
        <url-pattern>/NewEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewHistorial1</servlet-name>
        <url-pattern>/NewHistorial1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatosPerfil</servlet-name>
        <url-pattern>/DatosPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarPerfil</servlet-name>
        <url-pattern>/ModificarPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatosPassword</servlet-name>
        <url-pattern>/DatosPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambiarPass</servlet-name>
        <url-pattern>/CambiarPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewIncidencia</servlet-name>
        <url-pattern>/NewIncidencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewIncidencia2</servlet-name>
        <url-pattern>/NewIncidencia2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarEmpleado</servlet-name>
        <url-pattern>/EliminarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarEmpleado2</servlet-name>
        <url-pattern>/EliminarEmpleado2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TodasIncidencias</servlet-name>
        <url-pattern>/TodasIncidencias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLastLogin</servlet-name>
        <url-pattern>/GetLastLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLastLogin2</servlet-name>
        <url-pattern>/GetLastLogin2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetIncidenciaById</servlet-name>
        <url-pattern>/GetIncidenciaById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetIncidenciaByEmpleado</servlet-name>
        <url-pattern>/GetIncidenciaByEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetIncidenciaByEmpleado2</servlet-name>
        <url-pattern>/GetIncidenciaByEmpleado2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetIncidenciaOrderByFechaHora</servlet-name>
        <url-pattern>/GetIncidenciaOrderByFechaHora</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
